bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
PossessedMask/packages.config
PossessedMask.sln.DotSettings.user
.idea/.idea.PossessedMask/.idea/vcs.xml
.idea/.idea.PossessedMask/.idea/indexLayout.xml
.idea/.idea.PossessedMask/.idea/encodings.xml
.idea/.idea.PossesedMask/.idea/workspace.xml
